# Hello world

Untuk memberi keterangan atau komentar

In [1]:
print('Hello world')

Hello world

# Comment

In [2]:
# Ini adalah komentar
print('Hello world')

Hello world

In [3]:
print('Hello world')    # Ini adalah komentar

Hello world

In [4]:
'''
Ini adalah komentar beberapa baris
Ini adalah komentar kedua
Ini adalah komentar ketiga
'''
print('Hello world')

Hello world

# Variable

In [5]:
a = 5
b = 5.5
c = 'A'
d = 'Ini adalah kalimat'
e = False
print(a)
print(b)
print(c)
print(d)
print(e)

5
5.5
A
Ini adalah kalimat
False

In [6]:
a = 5
print(a)
a = 'Ini adalah kalimat'
print(a)

5
Ini adalah kalimat

In [7]:
a = str(5)
b = float(5)
print(a)
print(b)

5
5.0

In [8]:
c = int(4.1)
print(c)

4

In [9]:
print('Hello world')
print("Hello world")

Hello world
Hello world

# Variable Name

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [10]:
n = 10
numberOfStudents = 10
number_of_students = 10

In [11]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [12]:
a = b = c = 100
print(a)
print(b)
print(c)

100
100
100

In [13]:
print('Nilai dari variabel a adalah ' + str(a))

Nilai dari variabel a adalah 100

# String

In [14]:
a = 'Hello'
print(a)

Hello

In [15]:
a = '''Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. 
Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat.
Ini adalah kalimat. 
Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat.'''
print(a)

Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat.
Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat.
Ini adalah kalimat.
Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat. Ini adalah kalimat.

In [16]:
a = 'Hello'
print(a[4])

o

In [17]:
a = "Ini adalah sentimen tentang wfh"
print("wfh" in a)

True

In [18]:
print(a.upper())

INI ADALAH SENTIMEN TENTANG WFH

In [19]:
print(a.lower())

ini adalah sentimen tentang wfh

In [20]:
print(a.split(" "))

['Ini', 'adalah', 'sentimen', 'tentang', 'wfh']

In [21]:
a = 'Hello'
print(len(a)) # length

5

# Operator

In [22]:
a = 2
b = 5

c = a + b
d = a - b
e = a * b
f = b / a
g = b % a
h = a ** b

print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

7
-3
10
2.5
1
32

In [23]:
a = 2
a /= 10 # a = a / 10
print(a)

0.2

In [24]:
a = 2
b = 5

print(a == b)
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a != b)

False
False
False
True
True
True

In [25]:
print(a > 0 and a < 4) # &&
print(a > 0 or a < 4)  # ||
print(not(a > 0))

True
True
False

In [26]:
a = 'coba'
b = 'coba'
print(a == b)
print(a + ' ' + b)

True
coba coba

In [27]:
sentence = 'Mary had a little lamb'
sentence.count('l')

3

# List

In [28]:
a = ['Ini', 'adalah', 'kalimat']
print(a)

['Ini', 'adalah', 'kalimat']

In [29]:
a = [5, 10, 100, 1, 2, 3]
print(a)

[5, 10, 100, 1, 2, 3]

In [30]:
print(a[2])

100

In [31]:
print(len(a))

6

In [32]:
print(a[-1])

3

In [33]:
print(a[1:4])

[10, 100, 1]

In [34]:
print(a[:4])

[5, 10, 100, 1]

In [35]:
print(a[3:])

[1, 2, 3]

In [36]:
a[0] = 1000
print(a)

[1000, 10, 100, 1, 2, 3]

In [37]:
a.insert(2, 50)
print(a)

[1000, 10, 50, 100, 1, 2, 3]

In [38]:
a.append(15)
print(a)

[1000, 10, 50, 100, 1, 2, 3, 15]

# Tuples

Tuple tidak bisa dirubah

In [39]:
a = (5, 10, 100, 1, 2, 3)
print(a)

(5, 10, 100, 1, 2, 3)

In [41]:
print(a[0])

5

# Dictionaries

In [43]:
x = {
    'name': 'Budi',
    'age' : 15,
    'alamat': 'Surabaya'
}

In [44]:
print(x)

{'name': 'Budi', 'age': 15, 'alamat': 'Surabaya'}

In [45]:
print(x['name'])

Budi

In [46]:
x['name'] = 'Tono'
print(x)

{'name': 'Tono', 'age': 15, 'alamat': 'Surabaya'}

# If Else

In [57]:
x = 20
if x > 10:
    print('x lebih besar dari 10')
    print('coba')
    print(x)

x lebih besar dari 10
coba
20

In [60]:
x = 90
if x > 85 and x <= 100:
    print('Nilai A')
elif x > 75:
    print('Nilai AB')

Nilai A

In [58]:
x = 70
if x > 85:
    print('Nilai A')
elif x > 75:
    print('Nilai AB')
else:
    print('Nilai B')

Nilai B

# For

for(int i = 0; i < 10; i++) {
    System.out.println(i);
}

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

for(int i = 5; i < 10; i++) {
    System.out.println(i);
}

In [65]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

for(int i = 5; i < 10; i+=2) {
    System.out.println(i);
}

In [66]:
for i in range(5, 10, 2):
    print(i)

5
7
9

In [62]:
a = [5, 10, 100, 1, 2, 3]
for i in a:
    print(i)

5
10
100
1
2
3

In [68]:
a = 'ContohString'
for i in a:
    print(i)

C
o
n
t
o
h
S
t
r
i
n
g

In [69]:
def CobaFungsi():
    print('Ini adalah fungsi')

In [70]:
CobaFungsi()

Ini adalah fungsi

In [71]:
def Perkalian(a, b):
    c = a * b
    return c

In [72]:
d = Perkalian(10, 15)
print(d)

150

In [73]:
def PerkalianDanPangkat(a, b):
    c = a * b
    d = a ** b
    return c, d

In [74]:
e, f = PerkalianDanPangkat(2, 5)
print(e)
print(f)

10
32